{% extends 'main/base.html' %}
{% load custom-filters %}
{% block content %}
    <h1>Поиск</h1>
    {% if article_lists %}
        <div class="album py-5" style="padding-top: 0px !important;">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-color-dark">
                    {% for item in article_lists %}
                        <a class="article-item body-2 redirect" style = "background: url({{ item.image.url }}) no-repeat scroll 50% 50%; background-size: cover !important; padding-right: 0px;padding-left: 0px; margin-right: 15px; width: 350px; border-radius: 8px;" href={% url 'articles-detail' item.id %} >
                            <div id="article" style="text-align: left">
                                <div class="col">
                                    <div class="shadow-sm"
                                         style="border:1px solid #424242;border-radius: 8px; height:352px">
                                        <div id="card-container">
                                            <span class="caption-1">{{ item.pub_date | date:"d-m-Y H:i" }}</span>
                                            <div class="text">
                                                <h4 style="color:inherit">
                                                    {{ item.title | safe }}
                                                </h4>
                                                <span class="body-2">{{ item.content | striptags | nbsp2space | slice:":20" }}...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
    {% endif %}
{% endblock %}