{% extends 'main/base.html' %}
{% block content %}
    {% if validlink %}
     <div class="login-main">
        <div class="login-form" style="max-width: 525px">
            <div class="login-form-content">
                <h2>Введите новый пароль:</h2>
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Подтвердить">
                </form>
            </div>

        </div>
     </div>

    {% else %}

    <p>Ошибка</p>

    {% endif %}
{% endblock %}