{% extends "main/base.html" %}

{% block content %}

    <div class="login-main">
        <div class="login-form" style="max-width: 525px">
            <div class="login-form-content">
                <h2>Изменить пароль</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-secondary" style = "max-width: 350px !important; color: whitesmoke">Подтвердить</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}